@import "reset";
@import "variables";
@import "mixins";
body {
    background-color: $third;
    color: $secondaryColor;
    .box1 {
        @include colorChange(80%, $secondaryColor);
        color: $third;
        
    }
    .box3 {
        @extend .fixedWidth;
        background-color: white;
        color: $third;
        
    }
   
}
