body,
h1,
h2,
h3,
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
}
*{
    box-sizing: border-box;
}
body {
    background-color: #fff;
}

#wrapper {
    width: 300px;
    height: 250px;
    background-color: black;
    cursor: pointer;
}

h1 {
    position: relative;
    font-size: 36px;
    font-weight: normal;
    width: 300px;
}

h2 {
    position: relative;
    font-size: 23px;
    font-weight: normal;
color: black;
    width: 300px;
    padding: 10px;
    top:50px;
    
}

#demoWrapper {
    width: 250px;
    height: 350px;
    -webkit-font-smoothing: antialiased;
    color: black;
    margin: auto;
}

#bg {
    position: absolute;
    width: 800px;
    height: 350px;
}

#content {
    padding-left: 15px;
    visibility: hidden;
}

#info {
   
    position: absolute;
}

#feature {
    
    float: left;
}

#description {
    position: absolute;
    margin-left: 0px;
    width: 300px;
    height: 250px;
    line-height: 24px;
    padding: 5px 5px 5px 5px;
}

#nav {
    text-align: right;
    margin: 20px 10px;
}

#nav img {
    text-align: center;
    position: relative;
    margin-right: 20px;
}

#but {
    padding: 10px;
    border: none;
    color: black;
    
}

button:focus {
    border: none;
    outline: none;
}


#slider {
    width: 580px;
    margin: 10px auto;
}

.ui-widget-content {
    background-color: rgba(255, 255, 255, 0.2);
}